Flask
requests
gunicorn
Flask-SQLAlchemy
Flask-RESTful
librosa
soundfile
tensorflow==2.20.0  # latest TF that supports Python 3.10
birdnetlib==0.18.0  
numpy>=1.23.5
pandas>=1.5.3
scipy>=1.9.3
resampy


