body {
  background-color: #fff2db;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0px;
  color: #2f3b2f;
  height: 100%;
}

.bg1 {
  background-image: url("images/heron.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}

.bg1text {
  position: absolute;
  bottom: 8%;
  right: 8%;          
  color: #ffffff;      
  font-family: sans-serif;
  text-align: right;   
  max-width: 40%;      
}

.topnav {
  overflow: hidden;
  background-color: #000517;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


h1 {
  font-size: 40px;
  color: #aec1e6;
  margin-bottom: 20px;
} 

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #2f3b2f;
  border-radius: 10px;
  overflow: scroll;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.075);
}

th {
  background-color: #a1c1a1;
  color: #1c481c;
  text-align: left;
  padding: 12px;
  font-size: 16px;
}

td {
  padding: 12px 14px;
  font-size: 14px;
}

tr:hover {
  background-color: #d5ffda;
}


